@inherits RazorSlice<List<(Guid Id, Engine.Game Game)>>

<div data-on-load="@@get('/games')">
    <h2>Active Games</h2>
    @if (!Model.Any())
    {
        <p>No active games. Start a new one!</p>
    }
    else
    {
        <ul>
            @foreach (var game in Model)
            {
                <li>
                    <a href="/focus/@(game.Id)">
                        Game @(game.Id)
                        @game.Game switch
                        {
                            Game.InProgress g => <span>Current player: @g.GetCurrentPlayer()</span>,
                            Game.Winner g => <span>@g.WinningPlayer Won!</span>,
                            Game.Draw g => <span>Draw!</span>,
                            _ => <span></span>
                        }
                    </a>
                </li>
            }
        </ul>
    }
    <button type="button" data-on-click="@@post('/games')">
        Start New Game
    </button>
</div>
