@inherits RazorLayoutSlice<LayoutModel>

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title - Tic-Tac-Toe</title>
    <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.0-beta.10/bundles/datastar.js" asp-append-version="true"></script>>
</head
<body>
    <h1>@Model.Title</h1>
    <main id="root">
        @await RenderBodyAsync()
    </main>
</body>
</html>

