@inherits RazorSliceHttpResult<GameModel>
@implements IUsesLayout<_Layout, LayoutModel>

<a href="/">Back to Games</a>
@await RenderPartialAsync(_Game.Create(Model))

@functions {
    public LayoutModel LayoutModel => new($"Game {Model.Id}");
}
