@inherits RazorSlice<List<GameModel>>

<div data-connect="@@sse:/page">
    <h2>Active Games</h2>
    @if (!Model.Any())
    {
        <p>No active games. Start a new one!</p>
    }
    else
    {
        <ul>
            @foreach (var game in Model)
            {
                <li>
                    <a href="/game/@(game.Id)" data-on-click="@@navigate">
                        Game @(game.Id) 
                        @if (game.IsComplete)
                        {
                            <span>
                                (@(game.Winner.HasValue ? $"{game.Winner.Value} Won!" : "Draw!"))
                            </span>
                        }
                        else
                        {
                            <span>(Current player: @game.CurrentPlayer)</span>
                        }
                    </a>
                </li>
            }
        </ul>
    }
    <button 
        type="button"
        data-on-click="@@post('/game')"
        data-params='{ "marker": "X" }'>
        Start New Game
    </button>
</div>
