@inherits RazorSliceHttpResult<List<GameModel>>
@implements IUsesLayout<_Layout, LayoutModel>

<div id="list" data-on-load="@@get('/games')">Loading games...</div>

@functions {
    public LayoutModel LayoutModel => new() { Title = "Home" };
}
